<h2>UPDATE COMMENT</h2>

{{#if errorMessages.length}}
  <p>Couldn't update the comment because:</p>
  <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}
{{#if isLoggedInErrorMessage.length}}
  <p>Authorization error:</p>
  <ul>
    {{#each isLoggedInErrorMessage}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

<form method="POST">
  <div>
    Name
    <input type="text" name="name" value="{{comments.name}}" />
  </div>
  <div>
    Comment
    <input type="text" name="comment" value="{{comments.comment}}" />
  </div>
  <div>
    Reply
    <input type="text" name="reply" value="{{comments.reply}}" />
  </div>
  <input type="submit" value="Update Comment" />
</form>